@font-face {
	font-family: sea-font;
	src: url(./assets/fonts/The\ Ocean.otf);
}
body {
	font-size: 1rem;
	min-height: 100vh;
}
#app {
	height: 100%;
	display: grid;
	grid-template-rows: 10vh, 1fr;
}
h2 {
	font-size: 2.2rem;
	font-family: sea-font;
}
.icon {
	width: 5vw;
	min-width: 50px;
	height: auto;
}
#header {
	display: flex;
	gap: 8px;
	justify-content: center;
}
#main {
	display: flex;
	height: 100%;
	gap: 5vw;
	flex-wrap: wrap;
}
#main > * {
	flex-grow: 1;
	text-align: center;
}
.square {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
@media (min-width: 0px) {
	.square {
		width: 15px;
		height: 15px;
	}
}
@media (min-width: 600px) {
	.square {
		width: 26px;
		height: 26px;
	}
}
@media (min-width: 1000px) {
	.square {
		width: 35px;
		height: 35px;
	}
}
.row {
}
.board {
	display: flex;
	justify-content: center;
}
h3 {
}
@media (min-width: 0px) {
	/*0-600*/
	h3 {
		color: green;
	}
}
@media (min-width: 600px) {
	/*600-1000*/
	h3 {
		color: blue;
	}
}
@media (min-width: 1000px) {
	/*1000 and greater*/
	h3 {
		color: red;
	}
}
